<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>ulozto remote downloader | input captcha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--    <link href="../static/css/all.css" rel="stylesheet">-->
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <!--        <link href="../static/style.css" rel="stylesheet">-->
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-xl">
<div class="row">
    <div class="row">
        <a th:href="@{/ulozto/}" href="#">ulozto remote downloader</a>
    </div>
    <!--    show captcha-->
    <div class="row">
        <form action="#"
              th:action="@{/ulozto/reload/}"
              method="get">
            <div class="row bg-light">
                <div class="col">
                    <b>Insert captcha</b>
                </div>
            </div>
            <div class="row align-items-center my-2">
                <!--                picture-->
                <div class="col-auto">
                    <img th:src="${captcha_dto.captchaPicture}" class="img-thumbnail" alt="...">
                </div>
                <!--                sound-->
                <div class="col-auto">
                    <audio controls>
                        <source th:src="${captcha_dto.captchaSound}" type="audio/mpeg">
                    </audio>
                </div>
                <!--                button-->
                <div class="col">

                    <button type="submit" class="btn btn-sm btn-outline-primary">reload</button>
                </div>
            </div>
        </form>
    </div>
    <!--send captcha-->
    <div class="row">
        <form class="col-6"
              action="#"
              th:action="@{/ulozto/send_captcha/captcha={captcha} (captcha=${captcha})}"
              method="post">
            <div class="input-group input-group-sm my-2">
                <label for="send_captcha" class="mx-2">
                    <i class="bi bi-person-check"></i>
                </label>
                <input class="form-control form-control-sm" type="text" id="send_captcha" value="" name="captcha"
                       placeholder="" required>
                <button type="submit" class="btn btn-primary">send link</button>
            </div>
        </form>
    </div>
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <img th:src="${captcha_dto.captchaPicture}">-->
<!--        </div>-->
<!--        &lt;!&ndash; reload captcha&ndash;&gt;-->
<!--        <div class="col">-->
<!--            <form action="#"-->
<!--                  th:action="@{/ulozto/reload/}"-->
<!--                  method="get">-->
<!--                <button class="btn btn-primary" type="submit">reload</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--        <audio controls>-->
<!--            <source th:src="${captcha_dto.captchaSound}" type="audio/mpeg">-->
<!--        </audio>-->
<!--    </div>-->
    <!-- send captcha -->

<!--    <form class="form-control"-->
<!--          action="#"-->
<!--          th:action="@{/ulozto/send_captcha/captcha={captcha} (captcha=${captcha})}"-->

<!--          method="post">-->
<!--        <div class="input-group">-->
<!--            <input class="form-control" type="text" value="" name="captcha">-->
<!--            <button type="submit" class="btn btn-primary">send</button>-->
<!--        </div>-->
<!--    </form>-->


    <!-- captcha test -->
<!--    <span th:text="'response code ' + ${captcha_dto.responseCode}"></span>-->
<!--    <span th:text="'message ' + ${captcha_dto.responseMessage}"></span>-->
<!--    <span th:text="'picture ' + ${captcha_dto.captchaPicture}"></span>-->
<!--    <span th:text="'sound ' + ${captcha_dto.captchaSound}"></span>-->
</div>

</body>
</html>