<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>ulozto remote downloader | input file link</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--    <link href="../static/css/all.css" rel="stylesheet">-->
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <!--    <link href="../static/style.css" rel="stylesheet">-->
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="container-xl">
<div class="row">
    <a th:href="@{/ulozto/}" href="#">ulozto remote downloader</a>
</div>
<div class="row">
    <!-- input link -->
    <div th:hidden="${!showInsertLink}">
        <!-- when downloader is not working -->
        <form action="#"
              th:action="@{/ulozto/get_link/page={page} (page=${page})}"
              method="post">
            <div class="row bg-light">
                <div class="col">
                    <b>Insert link</b>
                </div>
            </div>
            <div class="input-group input-group-sm my-2">
                <label for="send_link" class="mx-2">
                    <i class="bi bi-link-45deg border-0 fs-5"></i>
                </label>
                <input class="form-control form-control-sm" type="text" id="send_link" value="" name="page"
                       placeholder="https://...">

                <button type="submit" class="btn btn-primary">send link</button>
            </div>

            <!--            <div class="row my-2">-->
            <!--                <label for="send_link" class="col-1 col-form-label col-form-label">-->
            <!--                    <i class="bi bi-link-45deg form-control-sm border-0 fs-5"></i>-->
            <!--                </label>-->
            <!--                <div class="input-group input-group-sm col-sm-10">-->
            <!--                    <input type="text" class="form-control form-control-sm" id="send_link" placeholder="https://...">-->
            <!--                    <button type="submit" class="btn btn-primary">send link</button>-->
            <!--                </div>-->
            <!--            </div>-->

        </form>
    </div>
    <!-- resume button, hidden if resume is false -->
    <!--    <div th:hidden="${!resume}">resume-->
    <!--        <form class="form-control"-->
    <!--              action="#"-->
    <!--              th:action="@{/ulozto/resume_download/}"-->
    <!--              method="get">-->
    <!--            <button type="submit" class="btn btn-primary">resume</button>-->
    <!--        </form>-->
    <!--    </div>-->
    <!-- download status, hidden if download thread is inactive  -->

    <!--now downloading title-->
    <div th:hidden="${!showNowDownloading}" id="currentDownloadSession">
        <div class="row bg-light">
            <div class="col">
                <b>Now downloading</b>
            </div>
        </div>
        <div class="row align-items-center justify-content-start">
            <!--resume button-->
            <!--            <div th:hidden="${!resume}" id="currentDownloadResume" class="col-2">-->
            <!--                <form action="#"-->
            <!--                      th:action="@{/ulozto/resume_download/}"-->
            <!--                      method="get">-->
            <!--                    <button type="submit" class="btn btn-none btn-lg col-12 text-primary fs-6">-->
            <!--                        <i class="bi bi-arrow-clockwise"></i>-->
            <!--                        <span>resume</span>-->
            <!--                    </button>-->
            <!--                </form>-->
            <!--            </div>-->
            <!--            &lt;!&ndash;cancel button&ndash;&gt;-->
            <!--            <div th:hidden="${resume}" id="currentDownloadCancel" class="col-2">-->
            <div th:hidden="${download_finished}" id="currentDownloadCancel" class="col-2">
                <form action="#"
                      th:action="@{/ulozto/cancel_current/}"
                      method="get">
                    <button type="submit" class="btn btn-lg col-12 text-danger fs-6">
                        <i class="bi bi-x-circle"></i>
                        <span>cancel</span>
                    </button>
                </form>
            </div>
            <!--            TODO make it visible after finish-->
            <!--finished-->
            <div th:hidden="${!download_finished}" id="currentDownloadDone" class="col-2 text-center text-success fs-6">
                <i class="bi bi-check-lg"></i>
                <span>done!</span>
            </div>
            <!--file info-->
            <div class="col-10">
                <div class="row small">
                    <div class="col-1 text-break">
                        <b>file name:</b>
                    </div>
                    <div class="col-11 text-break" id="file_name"></div>
                </div>
                <div class="row small">
                    <div class="col-1">
                        <b>link:</b>
                    </div>
                    <div class="col-11 text-break" id="file_source">
                        <!--                        https://content-provider33.uloz.to/Ps;Hs;up=1;uid=13277886;cid=191017267;uip=31.178.230.216;aff=ulozto.net;did=ulozto-net;fide=GxjyLK5;fs=84KCH9uJM;hid=oA3E1SK;rid=496042806;tm=1663394615;ut=f;rs=0;fet=download_free;He;ch=cd32c41466ba0a985f9085d568f70334;Pe/file/84KCH9uJM/tales-from-the-crypt-1972-titulky-sk-1080p-bluray-x264-dts-mkv?bD&u=13277886&c=191017267&De-->
                    </div>
                </div>
                <div class="row small">
                    <div class="col-1">
                        <b>progress:</b>
                    </div>
                    <div class="col-11" id="progress-text">
                        <!--                        50 / 100 MB (50%)-->
                    </div>
                </div>
            </div>
        </div>
        <!--progres bar-->
        <div class="row justify-content-start">
            <div class="col-12">
                <div class="progress my-2" style="height: 1em">
                    <div class="progress-bar bg-warning" id="progress" role="progressbar" style="width: 0%;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100">0%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- last download file -->
    <!--    <div th:hidden="${!future_status}" class="border-bottom border-dark">-->
    <div th:hidden="${!showDownloadHistory}" id="downloadHistory" class="border-bottom border-dark">
        <div class="row bg-light">
            <div class="col">
                <b>Download history</b>
            </div>
        </div>
        <div th:each="elem, iter : ${elements_history}">
            <div class="row align-items-center mb-2 justify-content-start border-bottom">
                <!--resume button-->
                <div th:hidden="${!elem.resume}" class="col-2">
                    <!--                    <span th:text="${index.index}"></span>-->
                    <form action="#"
                          th:action="@{/ulozto/resume_download/{id}(id=${iter.index})}"
                          method="get">
                        <button type="submit" class="btn btn-none btn-sm col-12 text-primary fs-6">
                            <i class="bi bi-arrow-clockwise"></i>
                            <span>resume</span>
                        </button>
                    </form>
                </div>
                <!--finished-->
                <div th:hidden="${elem.resume}" class="col-2 text-center text-success fs-6">
                    <i class="bi bi-check-lg"></i>
                    <span>done!</span>
                </div>
                <!--file info-->
                <div class="col-10">
                    <div class="row small">
                        <div class="col-2">
                            <b>file name:</b>
                        </div>
                        <div class="col-auto">
                            <span th:text="${elem.fileName}"></span>
<!--                                                        some name.mkv-->
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-2">
                            <b>file state:</b>
                        </div>
                        <div class="col-auto">
                            <span th:text="${#numbers.formatInteger(elem.dataOffset,1,'WHITESPACE') + ' / ' + #numbers.formatInteger(elem.dataTotalSize,1,'WHITESPACE') + ' bytes ' + '[' + elem.getPercentageProgress() + '%]'}"></span>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-2">
                            <b>last changed:</b>
                        </div>
                        <div class="col-auto">
                            <span th:text="${elem.getTimestamp()}"></span>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-2">
                            <b>info:</b>
                        </div>
                        <div class="col-auto">
                            <span th:text="${elem.getStatusMessage}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- temporarily show set folder -->
    <div class="col">
        <span th:text="${download_folder}"></span>
    </div>
</div>

</body>
</html>